body {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh; /* Set the container height to full viewport height */
}
.tile {
    background: orange;
    flex: 1; /* This ensures equal distribution */
    text-align: center;
    line-height: 100px;
    border: 1px solid black;
}
